body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#main{  
    font-family: 'Courier New', Courier, monospace;
    background-image: url('icons/index_background.jpg');
    width:100%;
    height: 100%;
    background-color: gray;
    position: fixed;
    
 }
 #title_subtext{
    width:100vw;
    height:5vh;
    background-color: white;
    background: rgba(255,255,255,.4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    text-align: center;

 }
 #title_text{
    width:100vw;
    height:10vh;
    background-color: white;
    background: rgba(255,255,255,.4);
    text-align: center;
    font-family: fantasy;
    font-size: 3em;
    text-shadow: 2px 2px 5px red;
    color: white;
 }
 #dealer_title{
     font-size: 25pt;
     text-align: center;
 }
 #player_title{
    font-size: 25pt;
    text-align: center;
}
.score_layout{
    width:100vw;
    height:10vh;
    background-color: white;
    background: rgba(255,255,255,.4);
}
#dealer_layout{
    width: 80vw;
    height: 45vh;
    background-color: red;
    padding: 0 0 0 1vh;
    background: rgba(0,0,0,.2);
}
#player_layout{
    width:80vw;
    height:45vh;
    background-color: black;
    padding: 0 0 0 1vh;
    background: rgba(255,0,0,.2);
    
}
#legend{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    border-radius: 5px;
    font-size: 14pt;
    width: 17vw;
    height: 35vh;
    margin: 15vh 1vw 0 2vw;
}
#legend_layout{
    width:20vw;
    height:90vh;
    float:right;
    background-color: blue;
    border-width: 10px;
    text-align: center;
    background: rgba(255,255,255,1);
}
#button_hit{
    font-family: 'Monoton', cursive;
    font-size: 2em;
    margin: 60% 1vw 0 0;
    position: relative;
}
#button_stay{
    font-family: 'Monoton', cursive;
    font-size: 2em;
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 12vw;
    height: 30vh;
    background-color: white;
    margin: 6vh 0 0 1vh;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,1);
}

#cardFace {
    margin: 8.5vh 0 0 2.7vw;
    width: 6vw;
    height: 10vh;
    position: absolute;

}

#iconTopLeft{
    margin: 1vh 0 0 1vw;
    width:3vh;
    height:3vh;
    position: absolute;

}

#iconTopRight{
    margin: 1vh 0 0 9vw;
    width:3vh;
    height:3vh;
    position: absolute;
}

#iconBottomLeft{
    margin:26vh 0 0 1vw;
    width:3vh;
    height:3vh;
    position: absolute;
}

#iconBottomRight{
    margin: 26vh 0 0 9vw;
    width:3vh;
    height:3vh;
    position: absolute;

}


#player_score{

}