body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#main{  
    font-family: 'Courier New', Courier, monospace;
    background-image: url('icons/bj.png');
    width:100%;
    height: 100%;
    background-color: gray;
   
    position: fixed;
    
 }
 #title_subtext{
    width:100vw;
    height:4vh;
    background: rgb(48, 48, 48, .5);
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vh;
    text-align: center;
    color: white;
    margin-bottom: 3nvh;
    

 }
 #title_text{
    width:100vw;
    height:6vh;
    background: rgb(48, 48, 48, .5);
    text-align: center;
    font-family: fantasy;
    font-size: 5vh;
    text-shadow: 2px 2px 5px red;
    color: white;
    font-family: 'Cabin Sketch', cursive;

 }
  
 #dealer_title{
     font-size: 4vh;
     text-align: center;
     color: white;
     font-family: 'Cabin Sketch', cursive;
 }
 #player_title{
    font-size: 4vh;
    text-align: center;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}
#dealer_layout{
    width: 80vw;
    height: 45vh;
    background-color: red;
    padding: 0 0 0 1vh;
    background: rgba(0,0,0,.2);
    margin-top: 1vh;
}
#player_layout{
    width:80vw;
    height:45vh;
    background-color: black;
    padding: 0 0 0 1vh;
    background: rgba(255,0,0,.2);
    
}
#legend{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.8);
    transition: 0.3s;
    border-radius: 5px;
    width: 17vw;
    height: 33vh;
    margin: 15vh 1vw 0 2vw;
    padding: 3vh 0 3vh 0;
}
#legend_layout{
    width:20vw;
    height:90vh;
    float:right;
    border-width: 10px;
    text-align: center;
    background: rgba(48, 48, 48, 0.5);
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 2vh;
}
#button_hit{
    font-family: 'Monoton', cursive;
    font-size: 4vh;
    margin: 6vh 1vw 0 0;
    height: 7vh;
    width: 10vw;
}
#button_stay{
    font-family: 'Monoton', cursive;
    font-size: 4vh;
    height: 7vh;
    width: 10vw;
    margin: 1vh 1vw 0 0;
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 12vw;
    height: 30vh;
    background-color: white;
    margin: 6vh 0 0 1vh;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,1);
}

#cardFace {
    margin: 8.5vh 0 0 2.7vw;
    width: 6vw;
    height: 10vh;
    position: absolute;

}

#iconTopLeft{
    margin: 1vh 0 0 1vw;
    width:3vh;
    height:3vh;
    position: absolute;

}

#iconTopRight{
    margin: 1vh 0 0 9vw;
    width:3vh;
    height:3vh;
    position: absolute;
}

#iconBottomLeft{
    margin:26vh 0 0 1vw;
    width:3vh;
    height:3vh;
    position: absolute;
}

#iconBottomRight{
    margin: 26vh 0 0 9vw;
    width:3vh;
    height:3vh;
    position: absolute;

}


#player_score{

}